$background-dark-color: #151515;
$background-bright-color: #3D3D3D;
$font-bright-color: #E2E2E2;
$font-darkB-color: #2B2B2B;
$background-red-color: #E74A3B;
$background-green-color: rgb(76, 204, 89);
